target/
!.mvn/wrapper/maven-wrapper.jar
/help.md
/.mvn/wrapper/maven-wrapper.properties
/mvnw
/mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System ###
desktop.ini
thumbs.db
.DS_Store

### Custom ###
ajuda_execucao.bat
modelo_despesas.csv
